html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #0a7272;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  margin-top: 0.4rem;
  width: 98vw;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 98vh;
  overflow-y: scroll;
}
.main {
  display: flex;

  margin-bottom: auto;
  width: 93%;
  flex-direction: column;
  align-items: flex-start;
}
.intro-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.catalog-div {
  width: 70%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.wrapper {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.main {
  width: 90%;
  margin-bottom: auto;
}
.cart-div {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.buttonBack___1mlaL {
  background-color: white;
  border: 2px solid #0a7272;
  color: #0a7272;
  padding: 1rem;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  font-size: 0.7rem;
  font-family: Ubuntu;
  font-weight: 600;
}

.carousel__back-button {
  background-color: white;
  border: 2px solid #0a7272;
  color: #0a7272;
  padding: 1rem;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  font-size: 0.7rem;
  font-family: Ubuntu;
  font-weight: 600;
}
.carousel__back-button:hover {
  background-color: #0a7272;
  color: white;
  border: none;
}
.carousel__next-button {
  background-color: white;
  border: 2px solid #0a7272;
  color: #0a7272;
  padding: 1rem;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  font-size: 0.7rem;
  font-family: Ubuntu;
  font-weight: 600;
}
.carousel__next-button:hover {
  background-color: #0a7272;
  color: white;
  border: none;
}
.button-div {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin-top: 10px;
}
.button {
  background-color: white;
  border: 2px solid #0a7272;
  padding: 1rem;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  font-size: 0.7rem;
  font-family: Ubuntu;
  font-weight: 600;
}

.buttonActive {
  background-color: #0a7272;
  border: none;
  color: white;
  padding: 1rem;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  font-size: 0.7rem;
  font-family: Ubuntu;
  font-weight: 600;
}
.buttonActive:hover {
  color: white;
}
